{% extends "/shared/_base.html" %}

{% block content %}
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">
    <div class="max-w-3xl">
      <h2 class="text-3xl font-bold sm:text-4xl">
        {{about_title}}
      </h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-80 overflow-hidden sm:h-80 lg:h-80">
        <img
          alt="Kalel Martinho"
          src="{{ url_for('static', path='img/profile.png') }}"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>

      <div class="lg:py-16">
        <article class="space-y-4 text-gray-600">
            {% for paragraph in about_paragraphs %}
                <p>{{paragraph}}</p>
            {% endfor %}
        </article>
      </div>
    </div>
  </div>
</section>
{% endblock %}