{% extends "/shared/_base.html" %}

{% block content %}
<div class="bg-light min-h-screen">
  <!-- Hero Section -->
  <section class="text-dark body-font">
    <div class="container mx-auto flex flex-col md:flex-row px-5 py-24 items-center justify-center">
      <img class="lg:w-1/6 md:w-2/6 w-4/6 mb-10 md:mb-0 object-cover object-center rounded-full mr-10 md:mr-10" alt="Kalel Martinho" src="{{ url_for('static', path='img/profile.png') }}">
      <div class="text-center md:text-left w-full md:w-1/2">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-dark animate-bounce">{{greeting}}</h1>
        <p class="mb-8 leading-relaxed text-lg text-dark">{{role}}</p>
        <p class="mb-8 leading-relaxed text-lg text-dark">{{hero_description}}.</p>
        <div class="flex justify-center">
          <a href="/contact" class="mr-5 inline-flex items-center text-dark bg-teal-500 border-0 py-2 px-6 focus:outline-none hover:bg-teal-600 rounded text-lg">
            Contact Me
          </a>
          <a href="/blog" class="inline-flex items-center text-dark bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 rounded text-lg">
            Blog
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}