<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="author" content="{{ author }}">
    <meta name="keywords" content="{{ keywords }}">

    <!-- Facebook Open Graph -->
    <meta property="og:site_name" content="{{ page_name }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:type" content="Kalel Personal website, porftolio and blog">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:url" content="{{ page_url }}">

    <!-- Favicon -->
    <!-- TODO: Add favicon -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    {% block header %}

    {% include "/shared/_header.html" %}

    {% endblock %}
    <div class="bg-gray-100 min-h-screen">
    {% block content %}
    <!-- This is where the content from the child template will go -->
    {% endblock %}
    </div>

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}


</body>
</html>